* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', serif;
    font-size: calc(var(--index)*1.3);
    font-weight: 300;
    font-weight: 18px;
    position: relative;
    background-color: var(--bg);
    color: #fff;
    @media (max-width: 960px) {
        font-size: calc(var(--index)*2.2);
    }
    @media (max-width: 540px) {
        font-size: calc(var(--index)*3.6);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

h1 {
    @include title;
    font-size: calc(50px + 30 * (100vw / 1920));
    line-height: 80px;
    @media (max-width: 860px) {
        font-size: 40px;
    }
    @media (max-width: 540px) {
        font-size: 30px;
        line-height: 44px;
        -webkit-text-stroke: 0.3px var(--text);
    }
}

h2 {
    @include title;
    padding: 50px 0;
    font-size: calc(40px + 26 * (100vw / 1920));
    @media (max-width: 860px) {
        font-size: 40px;
        padding: 30px 0;
    }
    @media (max-width: 540px) {
        font-size: 26px;
        line-height: 44px;
        -webkit-text-stroke: 0.3px var(--text);
    }
}

h3 {
    display: inline-block;
    @include title;
    padding: 50px 0;
    font-size: calc(30px + 22 * (100vw / 1920));
    @media (max-width: 860px) {
        font-size: 30px;
        padding: 30px 0;
        font-size: calc(28px + 22 * (100vw / 860));
    }
    @media (max-width: 540px) {
        font-size: 24px;
        line-height: 44px;
        -webkit-text-stroke: 0.3px var(--text);
        font-size: calc(22px + 20 * (100vw / 540));
    }
}

section {
    margin-bottom: 50px;
}

.container {
    position: relative;
    max-width: 1370px;
    padding: 0 15px;
    margin: 0 auto;
}

.festival_info {
    padding: 20px 40px;
    border: 1px solid var(--text);
    color: var(--text);
    text-align: center;
    @media (max-width: 540px) {
        padding: 20px 10px;
    }
}

.fest-btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--text);
    color: var(--bg);
    margin-top: 30px;
    cursor: pointer;
    z-index: 1000;
}

.persone {
    cursor: pointer;
}

.fest__info-item:nth-child(2n)>.fest__info-text {
    order: 1;
    @media (max-width: 740px) {
        order: 3;
    }
}

.fest__info-item:nth-child(2n)>.fest__info-num {
    order: 2;
}

.fest__info-item:nth-child(2n)>.fest__info-title {
    order: 3;
    @media (max-width: 740px) {
        order: 1;
    }
}

.modal {
    --transition-time: 0.3s;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all var(--transition-time);
}

.modal::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.modal__container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    display: none;
    vertical-align: middle;
    text-align: left;
    background-color: var(--bg);
    border: 5px solid var(--text);
    border-radius: 20px;
    padding: 50px;
    cursor: default;
}

.modal-content span {
    color: var(--text);
    font-weight: 500;
}

.modal-content__slider {
    margin: 20px 0;
}

.modal-content__slide {
    display: grid;
    grid-template-columns: 40% 55%;
}

.modal-close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
}

@media(max-width: 1024px) {
    .modal__container {
        width: 90%;
    }
}

@media (max-width: 560px) {
    .modal__container {
        font-size: 18px;
        width: 98%;
        padding: 50px 10px;
        margin: 0;
        height: 98vh;
    }
}

.modal.is-open {
    opacity: 1;
    visibility: visible;
    transition: all var(--transition-time);
}

.modal__container.modal-open {
    display: inline-block;
}

.fade {
    opacity: 0;
    transition: all var(--transition-time);
}

.fade.animate-open {
    opacity: 1;
    transition: all var(--transition-time);
}

*:focus {
    outline: 1px solid #000;
}

.disable-scroll {
    position: relative;
    overflow: hidden;
    height: 100vh;
    left: 0;
    top: 0;
    width: 100%;
}

.slider-item {
    position: relative;
    margin-top: 50px;
    width: 100%;
    padding: 0 40px;
}

@media (max-width: 560px) {
    .slider-item {
        padding: 0;
    }
}

.slider-item>.fest-btns>.arrow-item-next {
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
}

.slider-item>.fest-btns>.arrow-item-next img {
    height: 100%;
    width: 100%;
}

.slider-item>.fest-btns>.arrow-item-prev {
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
}

.slider-item>.fest-btns>.arrow-item-prev img {
    height: 100%;
    width: 100%;
}

.arrow-btn {
    height: 30px;
    width: 20px;
    cursor: pointer;
    z-index: 1000;
}

@media (max-width: 560px) {
    .slider-item>.fest-btns>.arrow-item-prev {
        left: 10px;
    }
    .slider-item>.fest-btns>.arrow-item-next {
        right: 10px;
    }
    .arrow-btn {
        width: calc(var(--index)*15);
        height: calc(var(--index)*15);
        padding: 10px;
        background-color: var(--bg);
        border: 2px solid var(--text);
        border-radius: 50%;
        opacity: 0.4;
    }

}
@media (min-width:560px) {
    .festival_info{
        font-weight: 18px;
    }
    .fest__info-text{
        font-size: 20px;
    }
}

.swiper-modal {
    padding-top: 70px;
}

.swiper-modal>.fest-btns>.arrow-item-next {
    position: absolute;
    left: 50%;
    transform: translateX(100%);
    top: 0;
}

.swiper-modal>.fest-btns>.arrow-item-next img {
    height: 100%;
    width: 100%;
}

.swiper-modal>.fest-btns>.arrow-item-prev {
    position: absolute;
    right: 50%;
    transform: translateX(-100%);
    top: 0;
}

.swiper-modal>.fest-btns>.arrow-item-prev img {
    height: 100%;
    width: 100%;
}

.swiper-modal>.fest-btns>.arrow-btn {
    height: 50px;
    width: 50px;
    border: 2px solid var(--text);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}

.swiper-modal>.fest-btns>.arrow-btn img {
    width: 100%;
    height: 100%;
}

.swiper-button-disabled {
    // display: none;
    opacity: 0.3;
    cursor: default !important;
}

