@mixin but {
    padding: 7px 12px;
    background: #5B72B5;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.175em;
    color: #fff;
}

@mixin center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}